/* Media Queries -------------------- */

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }
  .wildlife {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border-top: none;
  }
  .main-heading {
    font-size: 5rem;
    line-height: 1.1;
  }
  .resorts,
  .tips {
    float: none;
    width: 100%;
  }
  .main-footer {
    padding: 20px 0;
  }
}
